<div class="h-full flex flex-col flex-grow flex-shrink-0 relative overflow-hidden max-h-full">
  <!-- Project Toolbar -->
  <div class="py-2 px-4 flex justify-between">
    <div class="text-sm flex items-center">
      <div class="h-6 w-6 flex-center">
        <span class="block w-2 h-2 rounded-full bg-green-600"></span>
      </div>
      <div class="tracking-wide leading-4">Sales CRM</div>
    </div>
    <div class="flex space-x-1 text-sm">
      <div class="flex items-center hover:bg-shades-mid px-2 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Share</div>
      </div>
      <div class="flex items-center hover:bg-shades-mid px-2 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Updates</div>
      </div>
      <div class="flex items-center hover:bg-shades-mid px-2 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Settings</div>
      </div>
      <!-- <div class="flex items-center hover:bg-shades-mid cursor-default rounded-sm">
                <div class="h-6 w-6 flex-center">
                    <svg class="w-5
                     h-5
                    " fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                        </path>
                    </svg>
                </div>
            </div> -->
    </div>
  </div>

  <!-- Project Collections -->
  <!-- <div class="flex cursor-default">
        <div class="py-1 px-4 text-sm bg-primary-500 text-white rounded-b-sm items-center">
            Opportunities
        </div>
        <div
            class="py-1 px-4 text-sm text-cool-gray-500 rounded-b-sm hover:text-primary-600 hover:bg-primary-100 items-center">
            Interactions
        </div>
        <div
            class="py-1 px-4 text-sm text-cool-gray-500 rounded-b-sm hover:text-primary-600 hover:bg-primary-100 items-center">
            Accounts
        </div>
        <div
            class="px-2 flex-center text-sm text-cool-gray-500 rounded-b-sm hover:text-primary-600 hover:bg-primary-100">
            <svg class="w-4 h-4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor">
                <path d="M12 4v16m8-8H4"></path>
            </svg>
        </div>

    </div> -->

  <!-- Project Detail -->
  <div class="flex justify-between px-4">
    <div class="flex space-x-2 items-end">
      <h1 class="text-2xl leading-8 font-medium">Opportunities</h1>
      <div class="rounded-lg flex text-sm p-1 bg-shades-mid space-x-1">
        <div class="rounded-md bg-white px-2 py-1 flex space-x-1 items-center">
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="4" y="4" width="16" height="6" rx="2" />
            <rect x="4" y="14" width="16" height="6" rx="2" />
          </svg>
          <span class="leading-4">Sales pipeline</span>
        </div>
        <div class="rounded-md px-2 py-1 hover:bg-shades-low flex space-x-1 items-center">
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="4" y="4" width="16" height="16" rx="2" />
            <line x1="4" y1="10" x2="20" y2="10" />
            <line x1="10" y1="4" x2="10" y2="20" />
          </svg>
          <span class="leading-4">Proposals</span>
        </div>
        <div class="rounded-md px-2 py-1 hover:bg-shades-low flex items-center space-x-1">
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#2c3e50"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <rect x="5" y="3" width="14" height="18" rx="2" />
            <line x1="9" y1="7" x2="15" y2="7" />
            <line x1="9" y1="11" x2="15" y2="11" />
            <line x1="9" y1="15" x2="13" y2="15" />
          </svg>
          <span class="leading-4">Closed</span>
        </div>
      </div>
    </div>
    <div class="flex space-x-1 text-sm items-end">
      <div class="flex items-center hover:bg-shades-mid px-2 py-1 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Properties</div>
      </div>
      <div class="flex items-center hover:bg-shades-mid px-2 py-1 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Filters</div>
      </div>
      <div class="flex items-center hover:bg-shades-mid px-2 py-1 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Sort</div>
      </div>
      <div class="flex items-center hover:bg-shades-mid px-2 py-1 cursor-default rounded-sm">
        <div class="leading-4 text-sm">Search</div>
      </div>
      <div class="flex items-center hover:bg-shades-mid cursor-default rounded-sm">
        <div class="h-6 w-6 flex-center">
          <svg
            class="w-5 h-5"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow flex-1 overflow-auto">
    <div>
      <hyper-table></hyper-table>
    </div>
  </div>
</div>
