<ng-container *transloco="let t">
  <div class="h-full w-full flex">
    <div class="hidden md:block max-w-xl w-full h-full left-block relative overflow-hidden">
      <img class="mx-auto h-10 w-auto mt-12" src="/assets/img/logos/logo-large-negative.png" alt="Hyperastra Logo" />
      <div class="absolute inset h-full w-full -ml-32 -mb-8 flex items-end z-0">
        <div id="tv" class="transform"></div>
      </div>
      <div class="absolute inset h-full w-full z-10 flex justify-end items-center">
        <img class="-mr-24 -mt-6" src="/assets/img/sign_up_img_placeholder.jpg" alt="" />
      </div>
    </div>
    <div class="flex h-full w-full justify-center items-center">
      <div class="w-64">
        <form [formGroup]="form" class="flex flex-col space-y-5" (ngSubmit)="signUp()">
          <img
            class="block sm:hidden mx-auto h-8 w-auto"
            src="/assets/img/logos/logo-large.png"
            alt="Hyperastra Logo"
          />
          <div>
            <h1 class="text-lg text-left mt-8">{{ t('signUp.welcome') }}</h1>
          </div>
          <div>
            <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700">
              {{ t('signUp.first_name') }}
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                autocomplete="off"
                hyperAutofocusable
                id="first_name"
                type="text"
                required
                placeholder="Clark"
                formControlName="first_name"
                class="appearance-none block w-full px-3 py-2 border border-cool-gray-300 rounded-sm placeholder-cool-gray-400 focus:outline-none focus:border-cool-gray-600 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>
          </div>
          <div>
            <label for="last_name" class="block text-sm font-medium leading-5 text-gray-700">
              {{ t('signUp.last_name') }}
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                autocomplete="off"
                id="last_name"
                type="text"
                required
                placeholder="Kent"
                formControlName="last_name"
                class="appearance-none block w-full px-3 py-2 border border-cool-gray-300 rounded-sm placeholder-cool-gray-400 focus:outline-none focus:border-cool-gray-600 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>
          </div>
          <div>
            <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
              {{ t('signUp.email') }}
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                autocomplete="off"
                id="email"
                type="email"
                required
                placeholder="your@email.com"
                formControlName="email"
                class="appearance-none block w-full px-3 py-2 border border-cool-gray-300 rounded-sm placeholder-cool-gray-400 focus:outline-none focus:border-cool-gray-600 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>
          </div>
          <div>
            <label for="password" class="block text-sm font-medium leading-5 text-cool-gray-700">
              {{ t('signUp.password') }}
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                autocomplete="off"
                id="password"
                type="password"
                required
                formControlName="password"
                [placeholder]="t('signUp.password_placeholder')"
                class="appearance-none block w-full px-3 py-2 border border-cool-gray-300 rounded-sm placeholder-gray-400 focus:outline-none focus:border-cool-gray-600 transition duration-150 ease-in-out sm:text-sm sm:leading-5"
              />
            </div>
          </div>
          <div>
            <span class="block w-full rounded-xs shadow-xs mt-2">
              <button
                [disabled]="form.invalid"
                type="submit"
                [ngClass]="{ 'hover:bg-primary-500 focus:border-primary-700 active:bg-primary-700': form.valid }"
                class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-xs text-white bg-primary-600 focus:shadow-outline-primary focus:outline-none transition duration-150 ease-in-out"
              >
                {{ t('signUp.button') }}
              </button>
            </span>
            <p class="text-xs mt-3 text-center">
              <span class="pr-1">{{ t('signUp.register.description') }}</span>
              <a class="text-primary-600" [routerLink]="['/sign_in']">{{ t('signUp.register.action') }}</a>
            </p>
          </div>
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm leading-5">
              <span class="px-2 bg-white text-gray-500">
                O
              </span>
            </div>
          </div>
          <div>
            <span class="block w-full rounded-xs shadow-xs">
              <button
                type="button"
                class="w-full google-logo flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-xs text-cool-gray-700 bg-white-600 hover:bg-cool-gray-50 focus:outline-none focus:border-cool-gray-700 active:bg-cool-gray-50 transition duration-150 ease-in-out"
              >
                {{ t('signUp.google') }}
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
